/* Medium Devices, Desktops */
@media only screen and (max-width: 960px) {
    body {
        overflow-x: hidden;
    }
    div.container .cards{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    header .navbar .nav-links{
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        flex-direction: column;
        padding: 50px 0px 30px 0px;
        flex-direction: column;
        gap: 20px;
        font-size: 25px;
        height: 200px;

        width: 50%;
        z-index: 2;

        background-color: #333;

        border-radius: 25px 0 0px 25px;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
    }
    header .navbar .nav-links .nav-link{
        color: #fff;
        opacity: 0;
    }
    header .navbar .nav-links.nav-active{
        transform: translateX(0%);
    }
    header .navbar .nav-link.button{
        margin: 120px 0px;
    }
    .burger {
        display: block;
        z-index: 2;
        color: black;
    }
    .burger-active .line1{
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    .burger-active .line2{
        opacity: 0;
    }
    .burger-active .line3{
        transform: rotate(45deg) translate(-5px, -5px);
    }
    
    @keyframes navLinksAnim{
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 600px) {
    header .navbar .nav-links{
        padding: 30px 0px;
        gap: 18px;
        font-size: 20px;
        height: 180px;
    }
    .footer.navbar {
        font-size: 12px;
    }
    .footer.navbar .nav-links .nav-link{
        margin: 0px;
    }
    .footer.navbar .vertical_line{
        height: 13px;
    }
    /* Cards */
    div.container .cards{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    div.container .card {
        position: relative;
        transition: 0.8s;
        width: 250px;
        height: 40px;
        margin: 20px 0 0px 0;
        display: flex;
        justify-content: center;
    }
    div.cards .card .header p{
        color: #8640d3;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        position: absolute;
        left: 10px;
    }
    div.cards .card .header .button{
        position: absolute;
        top: 10px;
        right: 5px;
        left: auto;
    }
    div.cards .card .header .button img{
        z-index: 1;
        width: 25px;
        position: absolute;
        right: 0px;
    }
    div.cards .card .content{
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
    }
    div.cards .card.open{
        height: 390px;
    }
    div.cards .card.open .content{
        padding: 40px 20px;
        transition: 0.5s;
        visibility: visible;
        opacity: 1;
    }
    div.cards .card.open .content p{
        margin: 0;
    }
}
