body {
    background-color: #000;
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    letter-spacing: -0.022em;
}
.navbar {
    height: 40px;
    color: #fff;
    border-bottom: 1px solid #b6aeb6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar .nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
}
.navbar .navbar-brand{
    position: absolute;
    left: 15px;
    top: 10px;
}
.navbar .navbar-brand img{
    height: 30px;
}
.navbar .nav-link {
    margin: 0px 28px;
    padding: 6px 12px;
    color: #b6aeb6;
    text-decoration: none;
}
.navbar .nav-link:hover {
    color:#fff; 
    border-bottom: 1px solid #fff;
}
.navbar .nav-link.button {
    margin-left: 130px;
    transition: 0.5s;
    border: 1px solid #9c7284;
    color: #9c7284;
    border-radius: 15px;
}
.navbar .nav-link.button:hover{
    color: #dc82dc;
}
/* Footer */
.footer.navbar {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-top: 1px solid #fff;
    border-bottom: none;
    font-size: 14px;
}
.footer.navbar .vertical_line{
    width: 1px;
    height: 15px;
    background-color: #fff;
}

/* Containers */
div.container .cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.container .card {
    width: 500px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    margin: 80px 0px 0px 80px;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}
div.container .card .content {
    position: relative;
    align-items: center;
    display: grid;
    padding: 10px;
}
div.container .card .content * {
    width: 100%;
    border-radius: 15px;
    padding: 5px;
}
div.container .card .content a{
    transition: 0.5s;

    position: absolute;
    right: 8px;
    bottom: 8px;
    text-align: center;
    
    text-decoration: none;
    padding: 4px 8px;
    width: 40px;
    border-radius: 15px;
    border: 1px solid #9c7284;
    color: #9c7284;
}
div.container .card .content a:hover{
    color: #dc82dc;
}
/* Burger */
.burger {
    display: none;
    cursor: pointer;
}
.burger *{
    content: ' ';
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: #fff;
    transition: all .4s ease;
}
